/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Nunito',
    sans-serif;
}


ul {
  padding: 0;
  list-style: none;
  font-weight: 800;
}

ol {
  font-weight: 800;
}




/*Random Recipe widget */

.random-recipe {
  margin-left: 22%;
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 0;
}

/* Recipe Render */

.recipe-render {
  margin-bottom: 50px;
}

.nutritional-info {
  margin-top: 20px;
}

/* Method & Ingredient List */


.method-ingredients {
  background-color: whitesmoke;
  border-radius: .25rem;
}

.step-list li {
  margin-bottom: 10px;
  padding-left: 0;
}

.ingredient-list {
  border: 1px solid rgba(0, 0, 0, .125);
  background-color: #fec5bb;
  border-radius: .25rem;
}

/* Recipe Info */


.card-header {
  border: 1px solid rgba(0, 0, 0, .125);
}

.card-recipe {
  text-align: center;
}


/* Section titles */

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Yusei Magic', sans-serif;
}

/* Table */

.table {
  text-align: center;
}

/* Card Render */


.card-render {
  margin-bottom: 50px;
}

.card-img-top {
  width: 100%;
  border-radius: 0 !important;
}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-wrapper-recipe {
  max-height: 75%;
}

.img-wrapper-random {
  max-height: 60%;
}

/* Ranges */

.form-title {
  margin-right: 36%;
}

.slider {
  margin-left: 10px;
  margin-right: 10px;
}

.slider-output {
  max-width: 25%;
}

.refined-search {
  margin-right: 8%;
}

#maxFatLabel {
  margin-right: 30px;
}


/* Logo */

.image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#logo-index-sm {
  margin-top: 120px;
}

/* Background Image */

.background-wrapper {
  height: 75vh;
  background: url(../img/background-image-2.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  margin-bottom: -60px;
}

.bg-wrapper {
  min-height: 100%;
  margin-bottom: -60px;
}

/* Buttons */

.btn {
  background-color: #f4a261;
  border: 1px solid rgba(0, 0, 0, .125);
  color: black;
  font-weight: 800;
}


.submit-wrapper-md {
  text-align: center;
  margin-top: 100px;
}

.submit-wrapper-sm {
  text-align: center;
}

/* Icons */

.icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Stars rating */

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #f8ce0b;
}

/* Nav Bar */

.navbar {
  background-color: #ddbea9;
}

.nav-wrapper {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#logo {
  margin-right: 5px;
}

/* Footer */

footer {
  height: 60px;
}

.container-footer-md {
  background-color: #ddbea9;
}

.container-footer-sm {
  background-color: #ddbea9;
  color: black;
}

.social-links-md li a i {
  margin-top: 15px;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 18px;
  line-height: 10px;
  text-align: center;
  color: #e63946;
  background: whitesmoke;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links-sm li a i {
  margin-top: 15px;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #e63946;
  background: whitesmoke;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #e63946;
}

.name-header-footer-md {
  margin-top: 18px;
  margin-left: 15px;
}

.card-header-about {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  border: 1px solid rgba(0, 0, 0, .125);
}

@media screen and (min-width: 768px) {
  .card-header-recipe {
    height: 160px;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border: 1px solid rgba(0, 0, 0, .125);
  }


  .footer-about {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .img-wrapper-recipe {
    max-height: 75%;
  }

  .img-wrapper-random {
    max-height: 75%;
  }

  #logo-index {
    width: 35%;
    height: 35%;
  }

  .md-wrapper {
    position: relative;
    top: 20%;
    overflow-x: hidden;
  }
}
