html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Nunito',
    sans-serif;
}


ul {
  padding: 0;
  list-style: none;
  font-weight: 800;
}

ol {
  font-weight: 800;
}


/* ------------------------------------------------------------------- Recipe ----------------------------------------------------------------------------*/


/*Random Recipe widget */

.random-recipe {
  margin-left: 22%;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  border: 0;
}

/* Recipe Render */

.recipe-render {
  margin-bottom: 50px;
}

.nutritional-info {
  margin-top: 20px;
}

/* Method & Ingredient List */


.method-ingredients {
  background-color: whitesmoke;
  border-radius: .25rem;
}

.step-list li {
  margin-bottom: 10px;
  padding-left: 0;
}

.ingredient-list {
  border: 1px solid rgba(0, 0, 0, .125);
  background-color: #fec5bb;
  border-radius: .25rem;
}

/* Recipe Info */


.card-header {
  border: 1px solid rgba(0, 0, 0, .125);
}

.card-recipe {
  text-align: center;
}


/* Section titles */

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Yusei Magic', sans-serif;
}

/* Table */

.table {
  text-align: center;
}

/* Logo */

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  margin-bottom: 30px;
  max-width: 50%;
  max-height: 50%;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

/* Card Render */


.card-render {
  margin-bottom: 50px;
}

.card-img-top {
  width: 100%;
  border-radius: 0 !important;
}

.icon-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Ranges */


.slider {
  margin-left: 10px;
  margin-right: 10px;
}

.slider-output {
  max-width: 40%;
}

.refined-search {
  margin-right: 20%;
}

#maxFatLabel {
  margin-right: 30px;
}

/* Search bar */

#searchBar {
  margin-top: 30vh;
  min-width: 30%;
  max-width: 50%;
}

#search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Buttons */

.btn {
  background-color: #f4a261;
  border: 1px solid rgba(0, 0, 0, .125);
  color: black;
  font-weight: 800;
}

.button-spin {
  margin-left: 10px;
}

/* Icons */

.icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stars rating */

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #f8ce0b;
}

/* Nav Bar */

.navbar {
  background-color: #a8dadc;
  margin-bottom: 30px;
}

.nav-wrapper {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

#logo {
  margin-right: 5px;
}

/* Footer */

.footer-index {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-footer-md {
  background-color: #a8dadc;
}

.container-footer-sm {
  background-color: #a8dadc;
  color: black;
}

.social-links-md li a i {
  margin-top: 15px;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 18px;
  line-height: 10px;
  text-align: center;
  color: #e63946;
  background: whitesmoke;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links-sm li a i {
  margin-top: 15px;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #e63946;
  background: whitesmoke;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #e63946;
}

.name-header-footer-md {
  text-transform: uppercase;
  margin-top: 18px;
  margin-left: 15px;
}